<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="simpleSmtpServer.port" value="SMTP"/>
    <add key="simpleSmtpServer.mailsFolder" value="c:\temp\mails"/>
    <add key="simpleSmtpServer.clearMailsOnStartup" value="false"/>
  </appSettings>
</configuration>
